#page {position:absolute;top:0;left:0;width:100%;height:100%;}

#activities {width: 30em;height:100%;float: left;overflow: scroll; overflow-x:hidden;background-color:#bcbcbc}
.activity {border:1px solid #676767;border-radius:0.2em; background-color:white;margin:0.3em;}
.activity h2 {font-size:1em;background-color:#ebebeb;margin:0;padding:0.3em;border-bottom:1px solid #676767;border-top-left-radius:0.2em;border-top-right-radius:0.2em;}
.activity h2 a {color:black;font-weight:normal;}
.activity .images {margin:0.4em;}
.activity img {height:5em;}
#map {overflow: hidden;height:100%;}
.activity_N0 h2 {background-image: linear-gradient(to right, #ebebeb, #ebebeb, #e41a1c);}
.activity_N1 h2 {background-image: linear-gradient(to right, #ebebeb, #ebebeb, #377eb8);}
.activity_N2 h2 {background-image: linear-gradient(to right, #ebebeb, #ebebeb, #5aaf00);}
.activity_N3 h2 {background-image: linear-gradient(to right, #ebebeb, #ebebeb, #984ea3);}
.activity_N4 h2 {background-image: linear-gradient(to right, #ebebeb, #ebebeb, #ff7f00);}
.activity_N5 h2 {background-image: linear-gradient(to right, #ebebeb, #ebebeb, #ffff33);}
.activity_N6 h2 {background-image: linear-gradient(to right, #ebebeb, #ebebeb, #a65628);}
.activity_N7 h2 {background-image: linear-gradient(to right, #ebebeb, #ebebeb, #f781bf);}