<!DOCTYPE html>
<html>
<head>
    {% include 'head' %}
    <title>Zuzka jde kolem republiky - {{content[5]}}</title>
    <link rel="stylesheet" href="/css/activity.css?v=01"/>


    <script src="{{ url_for('static', filename='external/leaflet.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/leaflet.css') }}"/>

    <script src="{{ url_for('static', filename='external/smartphoto.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/smartphoto.min.css') }}">

    <script src="{{ url_for('static', filename='external/Polyline.encoded.js') }}"></script>

    <script src="https://api.mapy.cz/loader.js"></script>
    <script>Loader.load();</script>
    <script src="/mapycz.js?v=01"></script>
    {% if content[14] is not none %}
        <style>
            {% set images_small = content[14].split(",") %}
            {% set images_big = content[15].split(",") %}
            {% set images_caption = content[16].split(",") %}
            #page_single:before {
              background: url({{images_big[0]}}) no-repeat center center fixed;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }
        </style>
    {% endif %}
</head>

<body>
<div id="page_single">
    <div id="single_activity">
        <div class="nav_box">
            <div class="nav_before">
                {% if before_after[0] is not none %}
                    <a class="previous_day" href="/activity/{{before_after[0]}}">Předešlý den</a>
                {% endif %}
            </div>
            <div class="nav_map"><a class="back_to_map" href="/map">Celá mapa</a></div>
            <div class="nav_after">
                {% if before_after[1] is not none %}
                    <a class="next_day" href="/activity/{{before_after[1]}}">Následující den</a>
                {% endif %}
            </div>
        </div>
        <div id="whole_info">
            <div id="single_activity_name">
                <div class="date">{{content[4].strftime('%d. %m. %Y %H:%M')}}</div>
                <h1>{{content[5]}}</h1>
            </div>
            <div class="activity_info">
                <div class="info_item"><span class="info_caption">Vzdálenost</span><span class="info_value">{{'%0.1f'|format(content[6]/1000)|replace(".",",")}} km</span>
                </div>
                <div class="info_item"><span class="info_caption">Čas&#160;pohybu</span><span class="info_value">{{content[7]}}</span>
                </div>
                <div class="info_item"><span class="info_caption">Čas</span><span class="info_value">{{content[8]}}</span>
                </div>
                <div class="info_item"><span class="info_caption">Převýšení</span><span class="info_value">{{'%0.2f'|format(content[9]/1000)|replace(".",",")}} km</span></div>
            </div>
            <div class="single_activity_description">
                {% set text = content[11].split('\n') %}
                {% for para in text %}
                    <p>{{para|urlize(40, true)}}</p>
                {% endfor %}
            </div>
        </div>
        <div id="comments">
            <div id="headline_box">
                <h2>Komentáře</h2>
            </div>
            <div class="comment_box">
            {% for comment in comments %}
                <div class="comment">
                    <div class="header">
                        <span class="date">{{comment[1].strftime('%d. %m. %Y %H:%M')}}</span>
                        <h3 id="comment_{{comment[0]}}"><a href="{{ request.path }}#comment_{{comment[0]}}">{{comment[2]}}</a></h3>
                    </div>
                    {% set text = comment[3].split('\n') %}
                    <div class="comment_text">
                        {% for para in text %}
                            <p>{{para|urlize(40, true)}}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
            <form action="#comments" method="post">
                <label for="name" id="name_label">Jméno</label><br/>
                <input type="text" tabindex="1" id="name" name="name" /><br/>
                <label for="text" id="text_label">Comment</label><br/>
                <textarea id="text" name="text" rows="10" cols="50"></textarea><br/>
                <label for="comment" id="comment_label">Komentář</label><br/>
                <textarea id="comment" tabindex="2" name="comment" rows="10" cols="50"></textarea><br/>
                <input type="submit" tabindex="3" id="submit" value="Odeslat">
            </form>
        </div>
    </div>

        <div id="single_images">
            {% if content[14] is not none %}
                {% set images_small = content[14].split(",") %}
                {% set images_big = content[15].split(",") %}
                {% set images_caption = content[16].split(",") %}
                {% for i in range(images_small|length) %}
                <a href="{{images_big[i]}}" class="js-smartPhoto" data-caption="{{images_caption[i]}}"><img
                        src="{{images_small[i]}}" alt=""/></a>
                {% endfor %}
            {% endif %}
        </div>

    <div id="map" class="small_map"></div>
    <script>
        window.addEventListener("load", add_mapycz_single({{polylines|safe}}));
        window.addEventListener('DOMContentLoaded', function () { new SmartPhoto(".js-smartPhoto"); });
    </script>
</div>
{% include 'footer.html' %}
</body>
</html>