<!DOCTYPE html>
<html>
<head>
    {% include 'head' %}
    <title>Zuzka jde kolem republiky</title>
    <link rel="stylesheet" href="/css/main.css?v=01"/>
</head>
<body>
<div id="column">
    <main>
        <h1>Zuzka jde kolem republiky</h1>
        <a id="link_to_map" href="/map">Mapa s trasou</a>
        {% if content is not none %}
        <div class="activity_info--main">
            <div class="info_item"><span class="info_caption">Plánovaná vzdálenost</span><span class="info_value">1693 km</span></div>
            <div class="info_item"><span class="info_caption">Ujitá vzdálenost</span><span class="info_value">{{'%0.1f'|format(content[0]/1000)|replace(".",",")}} km</span></div>
            <div class="info_item"><span class="info_caption">Čas</span><span class="info_value">{{content[2]}}</span></div>
            <div class="info_item"><span class="info_caption">Dní na cestě</span><span class="info_value">{{content[4]}}</span></div>
            <div class="info_item"><span class="info_caption">Nastoupáno</span><span class="info_value">{{'%0.2f'|format(content[3]/1000)|replace(".",",")}} km</span></div>
        </div>
        {% endif %}
        <img src="{{ url_for('static', filename='images/zuzka.jpg') }}" alt="foto"/>
        <p>Už nějakou dobu jsem měla v hlavě plán obejít republiku kolem hranic. Teď se to stalo velice populární díky
            dvěma projektům - <a href="https://viaczechia.cz/">Via Czechia</a> a
            <a href="https://www.stezkaceskem.cz/">Stezka Českem</a>.
            Můj nápad ale vznikl ještě před těmito „masovými“ akcemi.</p>
        <p>Startuju 22. 5. 2021 na Rezku. Můj postup můžete sledovat na <a href="/map">mapě</a>,
            kam se budou automaticky každé ráno přidávat mé prošlé trasy.
            Ráno proto, aby nebylo úplně vidět kde spím než otamtud zmizím. Bílá čára značí naplánovanou trasu.
            Pravděpodobně se od trasy místy odchýlím. Každá část trasy jde rozkliknout nebo při najetí na nadpis se zvýrazní část na mapě.</p>
        <p>Po částech už jsem absolvovala už několik cest po Čechách:</p>
        <ul>
            <li>Krušné hory</li>
            <li>Orlické hory</li>
            <li>Šumavu</li>
            <li>Jižní čechy</li>
            <li>Sázavu - od premene k soutoku</li>
            <li>Železné hory</li>
            <li>Broumovsko</li>
            <li>Lužické hory</li>
            <li>Český ráj</li>
        </ul>
        <p>A v zahraničí:</p>
        <ul>
            <li>Portugalskou část Santiago de Compostela - z Lisabonu do Porta</li>
            <li>GR 20 na Korsice</li>
            <li>přechod Rily a Pirinu v Bulharsku</li>
            <li>cestu napříč Rumunským krasem</li>
            <li>a další</li>
        </ul>
        <p>Jdu relativně na lehko, batoh bez jídla a vody má 9,5 kg. Spát budu na volno ve stanu, pod tarpem a jednou za čas v penzionu nebo kempu.</p>
        <h2>Prošlé etapy <a href="/map">(Celá mapa)</a></h2>
        <div class="stage_list">
            {% for stage in activities %}
                <a class="activity_link" href="/activity/{{stage[0]}}">{{stage[5]}}</a> <span class="km">{{'%0.1f'|format(stage[6]/1000)|replace(".",",")}} km</span>
            {% endfor %}
        </div>

        <div id="comments">
            <h2>Komentáře</h2>
            <div class="comment_box">
            {% for comment in comments %}
                <div class="comment">
                    <div class="header">
                        <span class="date">{{comment[1].strftime('%d. %m. %Y %H:%M')}}</span>
                        <h3 id="comment_{{comment[0]}}"><a href="{{ request.path }}#comment_{{comment[0]}}">{{comment[2]}}</a></h3>
                    </div>
                    {% set text = comment[3].split('\n') %}
                    <div class="comment_text">
                        {% for para in text %}
                            <p>{{para|urlize(40, true)}}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
            <form action="#comments" method="post">
                <label for="name" id="name_label">Jméno</label><br/>
                <input type="text" tabindex="1" id="name" name="name" /><br/>
                <label for="text" id="text_label">Comment</label><br/>
                <textarea id="text" name="text" rows="10" cols="50"></textarea><br/>
                <label for="comment" id="comment_label">Komentář</label><br/>
                <textarea id="comment" tabindex="2" name="comment" rows="10" cols="50"></textarea><br/>
                <input type="submit" tabindex="3" id="submit" value="Odeslat">
            </form>
        </div>
    </main>
    <footer>Web běží na jednoduché aplikaci <a href="https://github.com/TomasBedrnik/Web-TravelLog">Web-TravelLog</a>, která automaticky stahuje prošlou trasu a fotky ze <a href="https://strava.com">Stravy</a></footer>
</div>
{% include 'footer.html' %}
</body>
</html>