<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='external/leaflet.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/leaflet.css') }}" />

    <script src="{{ url_for('static', filename='external/smartphoto.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/smartphoto.min.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='external/Polyline.encoded.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='open_street_map.js') }}"></script>
    <title>Test</title>
  </head>

  <body>
    <div id="page">
      <div id="activities">
        {% for d in content %}
            <div class="activity">
                  <h2><a href="https://www.strava.com/activities/{{d[0]}}">{{d[5]}}</a></h2>
                  <p>{{d[6]}}</p>
                  {% if d[14] is not none  %}
                      <div class="images">
                          {% set images_small = d[14].split(",") %}
                          {% set images_big = d[15].split(",") %}
                          {% set images_caption = d[16].split(",") %}
                          {% for i in range(images_small|length) %}
                              <a href="{{images_big[i]}}" class="js-smartPhoto" data-caption="{{images_caption[i]}}"><img src="{{images_small[i]}}" alt=""/></a>
                          {% endfor %}
                      </div>
                  {% endif %}
            </div>
        {% endfor %}
      </div>
      <div id="map"></div>
      <script>create_map({{polylines|safe}});</script>
      <script>

window.addEventListener('DOMContentLoaded',function(){
    new SmartPhoto(".js-smartPhoto");
});

</script>
    </div>
  </body>
</html>

