<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='external/leaflet.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/leaflet.css') }}"/>

    <script src="{{ url_for('static', filename='external/smartphoto.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/smartphoto.min.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='external/Polyline.encoded.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

    <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
    <script type="text/javascript">Loader.load();</script>
    <script type="text/javascript" src="{{ url_for('static', filename='mapycz.js') }}"></script>

    <title>Mapa</title>
</head>

<body>
<div id="page">
    {% include 'activities.html' %}
    <div id="map" class="big_map"></div>
    <script>
        window.addEventListener("load", add_mapycz({{polylines|safe}}));
        window.addEventListener("load", hide_more_labels);
        window.addEventListener('DOMContentLoaded', function () { new SmartPhoto(".js-smartPhoto"); });
    </script>
</div>
</body>
</html>

