<!DOCTYPE html>
<html>
<head>
    {% include 'head' %}
    <title>Zuzka jde kolem republiky - Mapa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapycz.css') }}"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='external/leaflet.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/leaflet.css') }}"/>

    <script src="{{ url_for('static', filename='external/smartphoto.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/smartphoto.min.css') }}">

    <script src="{{ url_for('static', filename='external/Polyline.encoded.js') }}"></script>

    <script src="https://api.mapy.cz/loader.js"></script>
    <script>Loader.load();</script>
    <script src="{{ url_for('static', filename='mapycz.js') }}"></script>


</head>

<body>
    {% include 'activities.html' %}
    <div id="map" class="big_map"></div>
    <script>
        window.addEventListener("load", add_mapycz({{polylines|safe}}));
        window.addEventListener('DOMContentLoaded', function () { new SmartPhoto(".js-smartPhoto"); });
    </script>

{% include 'footer.html' %}
</body>
</html>

