<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_1.css') }}"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='external/leaflet.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/leaflet.css') }}"/>

    <script src="{{ url_for('static', filename='external/smartphoto.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='external/smartphoto.min.css') }}">

    <script src="{{ url_for('static', filename='external/Polyline.encoded.js') }}"></script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <script src="https://api.mapy.cz/loader.js"></script>
    <script>Loader.load();</script>
    <script src="{{ url_for('static', filename='mapycz.js') }}"></script>

    <title>Zuzka jde kolem republiky - Mapa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
<div id="page">
    {% include 'activities.html' %}
    <div id="map" class="big_map"></div>
    <script>
        window.addEventListener("load", add_mapycz({{polylines|safe}}));
        window.addEventListener("load", hide_more_labels);
        window.addEventListener('DOMContentLoaded', function () { new SmartPhoto(".js-smartPhoto"); });
    </script>
</div>
</body>
</html>

